/* Resets to prevent host page overrides */
.playlight-sdk-container,
.playlight-sdk-container * {
  font-family: Geist, sans-serif !important;
  font-synthesis: none !important;
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
}

/* Container base styles */
.playlight-sdk-container {
  position: relative;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: normal;
  color: white;
  background-color: transparent;
  isolation: isolate;
  text-size-adjust: 100%;
}

.playlight-sdk-container p {
  font-weight: normal;
  color: inherit;
  font-size: 1rem;
  color: black;
}

/* Button styles - these will affect ALL buttons at ANY depth */
.playlight-sdk-container button,
.playlight-sdk-container button:hover,
.playlight-sdk-container button:active,
.playlight-sdk-container button:focus {
  appearance: button;
  cursor: pointer;
  background: none;
  color: black;
  font-size: 1rem;
}

/* Link styles - using multiple selectors to target ALL links at ANY depth */
.playlight-sdk-container a,
.playlight-sdk-container a:visited,
.playlight-sdk-container a:hover,
.playlight-sdk-container a:link {
  color: white;
  font-size: 1rem;
  text-decoration: none !important;
  text-decoration-thickness: 1px;
  cursor: pointer;
}

/* Form element styles - these will affect ALL form elements at ANY depth */
.playlight-sdk-container input,
.playlight-sdk-container input:focus,
.playlight-sdk-container input:hover,
.playlight-sdk-container input:active,
.playlight-sdk-container select,
.playlight-sdk-container select:hover,
.playlight-sdk-container select:focus,
.playlight-sdk-container select:active,
.playlight-sdk-container textarea:hover,
.playlight-sdk-container textarea:focus,
.playlight-sdk-container textarea:active,
.playlight-sdk-container textarea {
  appearance: revert;
  background: none;
  font-size: 1rem;
}

/* List styles - these will affect ALL lists at ANY depth */
.playlight-sdk-container ul,
.playlight-sdk-container ol {
  list-style: none;
}

/* Table styles - these will affect ALL tables at ANY depth */
.playlight-sdk-container table {
  border-collapse: collapse;
}

/* Import Tailwind AFTER the resets, it should take precedence over them */
@import "tailwindcss" important;
@config '../tailwind.config.js';

@layer base {
  :root {
    --playlight-background: 20 0% 0%;
    --playlight-foreground: 60 9.1% 97.8%;
    --playlight-muted: 12 6.5% 15.1%;
    --playlight-muted-foreground: 24 5.4% 63.9%;
    --playlight-popover: 20 14.3% 4.1%;
    --playlight-popover-foreground: 60 9.1% 97.8%;
    --playlight-card: 20 14.3% 4.1%;
    --playlight-card-foreground: 60 9.1% 97.8%;
    --playlight-border: 12 6.5% 15.1%;
    --playlight-input: 12 6.5% 15.1%;
    --playlight-primary: 60 9.1% 97.8%;
    --playlight-primary-foreground: 24 9.8% 10%;
    --playlight-secondary: 12 6.5% 15.1%;
    --playlight-secondary-foreground: 60 9.1% 97.8%;
    --playlight-accent: 12 6.5% 15.1%;
    --playlight-accent-foreground: 60 9.1% 97.8%;
    --playlight-destructive: 0 62.8% 30.6%;
    --playlight-destructive-foreground: 60 9.1% 97.8%;
    --playlight-ring: 24 5.7% 82.9%;
    --playlight-sidebar-background: 240 5.9% 10%;
    --playlight-sidebar-foreground: 240 4.8% 95.9%;
    --playlight-sidebar-primary: 224.3 76.3% 48%;
    --playlight-sidebar-primary-foreground: 0 0% 100%;
    --playlight-sidebar-accent: 240 3.7% 15.9%;
    --playlight-sidebar-accent-foreground: 240 4.8% 95.9%;
    --playlight-sidebar-border: 240 3.7% 15.9%;
    --playlight-sidebar-ring: 217.2 91.2% 59.8%;
    --playlight-radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: Geist;
  src: url("/static/fonts/Geist[wght].ttf");
}

#playlight-sdk-container,
#playlight-sdk-container * {
  font-family: Geist, sans-serif !important;
  font-synthesis: none !important;
}